<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB05xfBJCc2PNI6y4yfT5cou5eyjeugUuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>480417347684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tudu-ea68b</string>
	<key>STORAGE_BUCKET</key>
	<string>tudu-ea68b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480417347684:ios:a3a2d42a44eb6bc274c771</string>
</dict>
</plist>